body {
	background-color:#7fff7f;
	font-family:"Segoe UI",Calibri, Arial, "Century Gothic";
}

header {
     width:900px;
     background-color:#e5ffe5;
     margin:10px auto;
     padding:20px;
}

header h1 {
	display:inline-block;
	padding-left:15px;
	margin:0;
}

.container {
	width:860px;
	background-color:#e5ffe5;
	margin:0 auto 10px;
    padding:20px 40px;
}

#selectLabel {
	padding-left:5px;
	margin:10px;
}

div#querySelect select, #inputForm select, #inputForm input {
	padding:5px;
	font-family:"Segoe UI";
	margin:10px;
}

div#querySelect input[type="submit"] {
	padding:5px;
	font-family:"Segoe UI";
	margin:10px;
}

#inputForm {
	padding:5px;
	font-family:"Segoe UI";
	margin-left:10px;
}

th {
	text-align:center;
}

td {
	text-align:right;
}

th, td {
	padding:5px;
}

tr:nth-child(even) {
	background-color:#18B15C;
}

tr:nth-child(odd) {
	background-color:#18EE8D;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

#nav{
	list-style: none;
	margin-top: 30px; /*for the space of the buttons from the top */
}
#nav li{
	float:left;
	margin-left: 30px; 
	background-color: #7fff7f;
	padding: 6px 20px 6px 20px;
	border: 1px solid silver;
	border-radius: 5px; /*curves of the links*/
}